asgiref==3.11.0
Django==6.0
djangorestframework==3.16.1
sqlparse==0.5.4
tzdata==2025.2

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# VS Code / JetBrains
.vscode/
.idea/

# Django
db.sqlite3
/staticfiles/
/media/

# OS
.DS_Store
Thumbs.db
